body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
}

#maincontent {
    max-width: 42em;
    margin: 15 auto;
}

.code-font {
    font-family: "Courier New", Courier, monospace;
}

.section {
    margin-bottom: 40px;
}

.social-icons {
    margin-bottom: 20px;
    text-align: left;
}

.social-icons a {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
}

.social-icons a:hover {
    color: #666;
}

.news-list {
    list-style-type: disc;
    padding-left: 20px;
}

.news-list li {
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
}

.header-content {
    flex: 1;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: 20px;
    object-fit: cover;
}

.publication-item {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    align-items: center;
}

.publication-image {
    flex: 0 0 220px;
}

.publication-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.publication-content {
    flex: 1;
}

.publication-title {
    color: #000;
    font-style: bold;
    text-decoration: none;
    display: block;
    margin-bottom: -10px;
    font-size: 0.9em;
}

.publication-title:hover {
    text-decoration: underline;
}

.publication-authors {
    margin-bottom: -10px;
    font-size: 0.85em;
}

.publication-venue {
    font-style: italic;
    font-size: 0.8em;
}

.scrambled {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.scrambled:hover {
    color: #666;
}

@media (max-width: 768px) {
    header {
        flex-direction: column-reverse;
        align-items: center;
    }

    .profile-image {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .publication-item {
        flex-direction: column;
        gap: 15px;
    }

    .publication-image {
        flex: 0 0 auto;
    }
}
